.profile-menu {
    margin-left: 15px;
}

.user-profile {
    width: 80px;
    margin-left: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.usname-prof {
    margin-top: 10px;
    font-size: 20px;
}

.username-other-profile {
    margin-left: 20px;
    font-size: 20px;
}

.other-user-profile {
    margin-left: 20px;
    margin-right: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileOtherUser {
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}