.but-cr-vid {
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 12px 28px;
    background-color: rgb(5, 5, 83);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.but-cr-vid:hover {
    background-color: white;
    border-color: rgb(5, 5, 83);
    color: rgb(5, 5, 83);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}